<section class="wrapper ">
  <div class="main">
    <header class="top-header navbar-full navbar primary-header">
      <div class="logo-wrapper ">
        <h1 class="logo">Test
        </h1>
      </div>
      <ul class="nav navbar-nav nav-inline pull-right">

        <li class="nav-item">
          <a class="nav-link" href="#">
            Help</a>
        </li>
      </ul>
    </header>
    <header class="sub-header dark-bg-subheader">
      <div class="container">
        <div class="media m-b-0">
          <div class="media-body">
            <h2 class="page-title">Applications</h2>
          </div>
        </div>
      </div>
    </header>
    <div class="content-area ">
      <div class="p-a-2 ">
        <div class="container">
          <div class="row m-b-2">
            <div class="col-sm-4">
              <div class="search-input">
              </div>
            </div>
          </div>
          <div class="row m-b-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
